<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Expanse-Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.servlet.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterHandler</display-name>
    <servlet-name>RegisterHandler</servlet-name>
    <servlet-class>com.servlet.RegisterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHandler</servlet-name>
    <url-pattern>/RegisterHandler</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeHandler</display-name>
    <servlet-name>HomeHandler</servlet-name>
    <servlet-class>com.servlet.HomeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeHandler</servlet-name>
    <url-pattern>/HomeHandler</url-pattern>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardHandler</display-name>
    <servlet-name>DashboardHandler</servlet-name>
    <servlet-class>com.servlet.DashboardHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardHandler</servlet-name>
    <url-pattern>/DashboardHandler</url-pattern>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseHandler</display-name>
    <servlet-name>ExpenseHandler</servlet-name>
    <servlet-class>com.servlet.ExpenseHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseHandler</servlet-name>
    <url-pattern>/ExpenseHandler</url-pattern>
    <url-pattern>/expense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BudgetHandler</display-name>
    <servlet-name>BudgetHandler</servlet-name>
    <servlet-class>com.servlet.BudgetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BudgetHandler</servlet-name>
    <url-pattern>/BudgetHandler</url-pattern>
    <url-pattern>/budget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutHandler</display-name>
    <servlet-name>LogoutHandler</servlet-name>
    <servlet-class>com.servlet.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler</servlet-name>
    <url-pattern>/LogoutHandler</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBudgetHandler</display-name>
    <servlet-name>AddBudgetHandler</servlet-name>
    <servlet-class>com.servlet.AddBudgetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBudgetHandler</servlet-name>
    <url-pattern>/AddBudgetHandler</url-pattern>
    <url-pattern>/addBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBudgetHandler</display-name>
    <servlet-name>GetBudgetHandler</servlet-name>
    <servlet-class>com.servlet.GetBudgetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBudgetHandler</servlet-name>
    <url-pattern>/GetBudgetHandler</url-pattern>
    <url-pattern>/getBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BudgetDetailsHandler</display-name>
    <servlet-name>BudgetDetailsHandler</servlet-name>
    <servlet-class>com.servlet.BudgetDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BudgetDetailsHandler</servlet-name>
    <url-pattern>/BudgetDetailsHandler</url-pattern>
    <url-pattern>/budgetDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExpenseHandler</display-name>
    <servlet-name>AddExpenseHandler</servlet-name>
    <servlet-class>com.servlet.AddExpenseHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpenseHandler</servlet-name>
    <url-pattern>/AddExpenseHandler</url-pattern>
    <url-pattern>/addExpense</url-pattern>
    <url-pattern>/budgetDetails/addExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExpenseHandler</display-name>
    <servlet-name>DeleteExpenseHandler</servlet-name>
    <servlet-class>com.servlet.DeleteExpenseHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExpenseHandler</servlet-name>
    <url-pattern>/DeleteExpenseHandler</url-pattern>
    <url-pattern>/deleteExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBudgetHandler</display-name>
    <servlet-name>DeleteBudgetHandler</servlet-name>
    <servlet-class>com.servlet.DeleteBudgetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBudgetHandler</servlet-name>
    <url-pattern>/DeleteBudgetHandler</url-pattern>
    <url-pattern>/deleteBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBudgetHandler</display-name>
    <servlet-name>EditBudgetHandler</servlet-name>
    <servlet-class>com.servlet.EditBudgetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBudgetHandler</servlet-name>
    <url-pattern>/EditBudgetHandler</url-pattern>
    <url-pattern>/editBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileHandler</display-name>
    <servlet-name>ProfileHandler</servlet-name>
    <servlet-class>com.servlet.ProfileHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileHandler</servlet-name>
    <url-pattern>/ProfileHandler</url-pattern>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountHandler</display-name>
    <servlet-name>DeleteAccountHandler</servlet-name>
    <servlet-class>com.servlet.DeleteAccountHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountHandler</servlet-name>
    <url-pattern>/DeleteAccountHandler</url-pattern>
    <url-pattern>/deleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserHandler</display-name>
    <servlet-name>UpdateUserHandler</servlet-name>
    <servlet-class>com.servlet.UpdateUserHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserHandler</servlet-name>
    <url-pattern>/UpdateUserHandler</url-pattern>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordHandler</display-name>
    <servlet-name>UpdatePasswordHandler</servlet-name>
    <servlet-class>com.servlet.UpdatePasswordHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordHandler</servlet-name>
    <url-pattern>/UpdatePasswordHandler</url-pattern>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
</web-app>